@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-image: url('../Image/BackGround/Parking.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.imgLogo {
    width: 330px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: auto;
}
.thaiNameColorFont {
    color: white;
    margin-left: 45px;
    margin-top: -30px;
    font-size: 25px;
}
.btn-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align buttons to the left */
    margin-left: 4px; /* Optional: spacing from left edge */
}
.buttonLogin{
    background-color: #FDFFC2;
    opacity: 0.8;
    font-family: Sarabun;
    font-size: 25px;
    border-radius: 12px;
    padding: 10px 121px;
    margin-top: 25px;
    margin-left: 47px;
    margin-bottom: 20px;
    border: 2px solid #FDFFC2;
    transition-duration: 0.4s;
}
.buttonLogin:hover{
    cursor: pointer;
    padding: 10px 111px;
    opacity: 1.0;
}
.buttonLogin:active{
    background-color: #D3EE98;
    transition: 0.1s;
    box-shadow: 0 10px #FDFFC2;
    border: 2px solid #FDFFC2;
    opacity: 1.0;
}
.buttonRegis{
    background-color: #CB9DF0;
    opacity: 0.8;
    font-family: Sarabun;
    font-size: 25px;
    padding: 10px 100px;
    border-radius: 12px;
    margin-left: 47px;
    margin-bottom: 20px;
    border: 2px solid #CB9DF0;
    transition-duration: 0.4s;
}
.buttonRegis:hover{
    cursor: pointer;
    padding: 10px 90px;
    opacity: 1.0;
}
.buttonRegis:active{
    background-color: #FDDBBB;
    transition: 0.1s;
    box-shadow: 0 10px #CB9DF0;
    border: 2px solid #CB9DF0;
    opacity: 1.0;
}
.buttonFor{
    background-color: #4CC9FE;
    opacity: 0.8;
    font-family: Sarabun;
    font-size: 25px;
    padding: 10px 100px;
    border-radius: 12px;
    margin-left: 47px;
    margin-bottom: 20px;
    border: 2px solid #4CC9FE;
    transition-duration: 0.4s;
}
.buttonFor:hover{
    cursor: pointer;
    padding: 10px 90px;
    opacity: 1.0;
}
.buttonFor:active{
    background-color: #F5F4B3;
    transition: 0.1s;
    box-shadow: 0 10px #4CC9FE;
    border: 2px solid #4CC9FE;
    opacity: 1.0;
}