body {
    background-image: url('../Image/BackGround/Parking.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.imgLogo {
    width: 330px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: auto;
}
.thaiNameColorFont {
    color: white;
    margin-left: 45px;
    margin-top: -35px;
    font-size: 25px;
}