body {
    background-image: url('../Image/BackGround/Parking.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div {
    display: flex;
    justify-content: left;
}

img {
    width: 330px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: auto;
}
